body {
    font-family: 'Poppins', sans-serif;
    background: #f4f4ec;
    
}

.header{
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    color: white;
}

h1 {

}

.searchBtn {
    background: #615dec;
    color:white;
}

.cityButtons {
    background:#301781;
    color:white;
}

#fivedayCard {
   
}

.card-header {
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    color: white;
    /* background: #76e2f4;  */
}

.border-bottom{
    color: #301781; 
}
.second-color { 
	
}
