body {
    font-family: 'Poppins', sans-serif;
    background: #f4f4ec;
    
}

.header{
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    color: white;
}

.searchBtn {
    background: #615dec;
    color:white;
}

.history-btn {
    background: #615dec;
    color:white;
    margin-top: 4px;
    margin-bottom: 2px; 
    border: none;
    border-radius: 4px;
    padding: 6px;   
}

.history-btn:hover {
    background: #615dec;
    color:black;
    margin-top: 4px;
    margin-bottom: 2px; 
    border: none;
    border-radius: 4px;
    padding: 6px;   
}
.cityButtons {
    background:#301781;
    color:white;
}

.card-header {
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    color: white;
    /* background: #76e2f4;  */
}

.border-bottom{
    color: #301781; 
}

